<div class="container">
  <div class="margin-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <%= image_tag "logo_pinterest.png", :alt=> "logo_pinterest", :width=>"85", :height=>"55" %>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-lg-2" type="search" placeholder="Buscar" aria-label="Search" >
      </form>
      <a class="navbar-brand" href="#">Home</a>
      <div>
        <a class="navbar-brand" href="#"><%= image_tag "usuario.png", :alt=> "usuario_pinterest", :width=>"50", :height=>"50" %></a>
        <a class="navbar-brand" href="#">Usuario</a>
      </div>
    </nav>
  </div>
</div>